@media (max-width: 375px) {
  .main-container {
    background-color: hsl(0, 0%, 12%);
    height: 550px;
    width: 300px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 5px;
  }
}

body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  font-family: Inter, serif;
}

p {
  font-family: Inter, serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: hsl(0, 0%, 12%);
  height: 550px;
  width: 350px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 5px;
}

.my-profile-picture {
  width: 100px;
  border-radius: 50px;
}

.profile-picture {
  margin-top: 40px;
  margin-bottom: 0;
}

.p1 {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
}

.p2 {
  color: hsl(75, 94%, 57%);
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0;
}

.p3 {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  margin-top: 20px;
}

.social-div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.social {
  background-color: hsl(0, 0%, 20%);
  height: 40px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.social:hover {
  background-color: hsl(0, 1%, 53%);
}

.social:active {
  background-color: rgb(74, 9, 9);
}
